.lower_part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -50px;
}

.sub img, .dubs img {
    height: 15px;
    width: 15px;
}

.inner_info {
    display: flex;
    flex-direction: row;
    margin-top: -70px;
    padding-left: 10px;
    gap: 10px;
}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.day_image {
    height: 250px;
    width: 200px;
    border-radius: 8px;
}

.day_image:active {
    transform: scale(0.9);
    opacity: calc(0.4);
}

.anime_day_template {
    display: flex;
    flex-direction: column;
    /* background-color: burlywood; */
    margin-top: 50px;
    width: 200px;
}

.anime_day_title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.anime_day_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: gray;
    margin-top: 10px;
}

.add_info {
    margin-top: 20px;
}

.day {
    font-size: 25px;
    color: blueviolet;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -35px;
}

