.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2F2E32;
    gap: 10px;
    color: white;
    height: 70px;
}

.nav_bar .right_side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}

.middle_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

.search_bar {
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;

}

.search_bar input {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    height: 30px;
    background-color: #252429;
    box-shadow: none;
    border: none;
    color: white;
}

.search_bar button {
    cursor: pointer;
    height: 32px;
    margin-left: -2px;
    background-color: #252429;
    box-shadow: none;
    border: none;
}

.search_bar button:active {
    transform: scale(0.9);
}

.search_bar img {
    height: 20px;
    width: 20px;
}

.middle_extra {
    margin-left: 20px;
}

.right_side {
    align-items: center;
    gap: 20px;
}

.right_side div {
    cursor: pointer;
}

.right_side div:active {
    transform: scale(0.9);
    opacity: calc(0.4);
}

.right_side button {
    cursor: pointer;
    background-color: blueviolet;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.right_side button:active {
    transform: scale(0.9);
    opacity: calc(0.4);
}

.left_side p{
    cursor: pointer;
}

.site_logo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: blueviolet;
}

.site_logo:active {
    transform: scale(0.9);  
    opacity: calc(0.4);
}

    